.noti {
    cursor: pointer;
    box-sizing: border-box;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    color: #333;
    background-color: #ffe3a5;
}
.noti.hide {
    height: 0;
    overflow: hidden;
    transition: all .2s;
}
.noti--hide {
    cursor: pointer;
    font-size: 0.8rem;
    float: right;
    transition: all .2s;
    color: rgb(126, 126, 126);
}
.noti--hide:hover {
    color: #000;
    transition: all .2s;
}